body{
  margin:0;
}

header{
  background-color:var(--dkblue);
}

:root{
  --dkblue: #6c73ad;
  --darkblue:
}

.site-header {
   background-color:var(--dkblue);
   position: relative;
   height:150px;
   display:flex;
   justify-content: start;
   overflow:hidden;
   margin:0;
}

site-header__title{
  line-height:5;
}

.primary-nav{
  padding:10px;
  align-items:center;
}

.primary-nav__list{
    list-style-type: none;
  margin:0;
  padding:0;
  display: flex;
  justify-content: space-around;
  height:150px;
  align-items:center;
  width:900px;
}

.primary-nav__link{
  padding:0 10px; 
  transition: all 0.2s ease;
  font-weight:bold;
  text-decoration:none;
  color:#4ecad4;
  font-size:40px;
}

.primary-nav__link:hover{
  background-color:var(--darkblue);
  text-decoration:none;
  color:white;
  text-shadow: 7px 7px black;
  font-size:45px;
}
