body{
  margin:0;
}

header{
  background-color:var(--dkblue);
}

:root{
  --dkblue: #6c73ad;
}

.full-bar::before{
    content:"";
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    background-color:var(--dkblue);
    height:150px;
    }
.site-header {
   background-color:var(--dkblue);
   position: relative;
   height:150px;
   display:flex;
   justify-content: start;
   overflow:hidden;
}
